@media (max-width: 480px){
    .h3{
        display:none; 
    }
    .img{
        width:200px;
        text-align:center;
    }
    /* .p{
        height: 200px;
    } */
    .overlay{
        display: none;
    }
    .con1{
        /* display: none; */
         margin-top:20px;
    }
    .cg{
        font-size:0.3em;
    }
    .row .col .b{
        height:60px;
       
    }
    .con2{
        height:50vh;
        padding-top:10px;
        /* background-color: black; */
    }
    .slider{
        height:250px;
        height: 45vh;
    }
    .con3{
        margin-top:15px;
        height:50vh;
       
    }
    .con3 .edu li{
        padding:20px;
        font-size:0.6em;
    }
   
}



@media (max-width: 816px){

    .h3{
        display:none;
       }
}



@media only screen and (max-width: 380px ), (max-height :650px){
    .h3{
     display:none;
    }
    .img{
     width:300px;
     text-align:center;
 }
}






