@media (max-width: 480px){
    .h3{
        display:none; 
    }
    .img{
        width:300px;
        text-align:center;
    }

    .p{
        height: 200px;
    }
    .con1{
        /* display: none; */

    }
    .cg{
        font-size:0.4em;
    }
    .row .col .b{
        height:70px;
    }
    .con2{
        height:42vh;
    }
    .slider{
        height:250px;
    }
}



@media (max-width: 816px){

    .h3{
        display:none;
       }
}



@media only screen and (max-width: 380px ), (max-height :650px){
    .h3{
     display:none;
    }
    .img{
     width:300px;
     text-align:center;
 }
}






