body{
    padding: 0;
    margin:0;
    background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; 
}

   /* -----heager css----- */


   #header{
       padding:0;
       margin:0;
       height: 80px;
   }
   .img{
    padding:0;
    margin:0;
    width:400px;
}
  .h3{
    float: right;
    margin-right: 10px;
    margin-top:35px;
    color:#fff;
    font-family: 'Sanchez', serif;
   }

   /* ---Navigation-bar--- */

   .nav-bar{
    width:100%;
    position:sticky; 
    top:0px;
    z-index: 200;
}

 .nav-link{
    color:#fff  !important;
}
.nav-link:hover{
    color:white;
    /* background:#2196F3; */
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.nav-bar.fa-bars{
    font-size:45px;
    color:white;
}
.drop{
    /* background-color:#9C27B0; */
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
.dropdown-item{
    color:white;
}
.dropdown-item:hover{
    /* background-color:black; */
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color:white;
}
.con1{
    margin-top:50px;
    /* background-color:white; */
}

.cg{
  color: #fff;
  text-align: center;
  font-size:0.9em;
}
.row .col .b{
    width:200px;
    height:200px;
    border-radius:50%;
    border:2px solid yellowgreen;
}  


/* ----slider---- */

.con2{
    /* margin-top:5%; */
    padding-top:50px;
    height:100vh;
   
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
/* 
    background-color: #77aa77;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
}
.slider{
    height:95vh;
    border-radius:2%;
}

/* ---ducation--- */

.con3{
    margin-top:100px;
    height:100vh;
    border-radius: 20px;
    overflow:auto;   /* for scroll inside the div */

    /* border:2px solid yellow; */
    /* background-image: url(img/senan.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
   
}
.edu{
    padding-top:3%;
    padding-bottom:3%;
    border-radius: 20px;
    /* box-sizing: border-box; */
    background-color:lightgray;
    opacity: 0.6;
}
.con3 .edu li{
    
    padding:30px;
    font-size:1em;
    color:black;
    font-weight: bold;  
    font-family: 'Sanchez', serif; 
}
/* .con4{
    height: 500px;
    background: #330000;
    margin-top:5%;
} */